*,
*::before,
*::after {
  box-sizing: border-box;
}
*::selection {
  background-color: rgba(128, 128, 128, 0.808);
  color: white;
  backdrop-filter: blur(10px);
}
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
ul {
  padding: 0;
  margin: 0;
}
input {
  border: none;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
*:focus {
 outline: 5px solid white;
 outline-offset: 6px;
}
body {
  margin: 2rem;
  //   margin-bottom: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0);
  padding-right: .5rem;
  width: 2rem;
}
html::-webkit-scrollbar-thumb {
  border-radius: 20rem;
  border: 5px solid white;
  background-color: gray;
  margin-right: .3rem;
  // margin: .3rem;
}
html::-webkit-scrollbar-button{
  display: none;
}
.logo {
  height: $hamburger_manu-height;
  position: absolute;
  top: 4%;
  left: 2%;
}
.footer_logo {
  height: $hamburger_manu-height;
  margin: 0 auto;
}
html {
  @include responsive(big-tab) {
    font-size: 56.25%;
  }
  @include responsive(small-tab) {
    font-size: 50%;
  }
  @include responsive(big-desktop) {
    font-size: 75%;
  }
}
