@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: $primary-font-family;
}
.primary-heading {
font-size:$primary-heading-fs ;
text-transform: uppercase;
font-weight: $bold-font-weight;
color: $primary-heading-fc;
line-height: 1.3;


}
.header-paragraph {
  font-size:$medium-paragraph-fs;
  color: $primary-heading-fc;
  font-weight: $regular-font-weight;
  letter-spacing: 1px;
  // max-width: 40rem;
}

.tertiary-heading {
  font-size: $tertiary-heading-fs;
  color: $primary-heading-fc;
  letter-spacing: 0.1rem;
}
.similler-tertiary-heading {
  font-size: $list-heading-fs;
  letter-spacing: 0.1rem;
  color: $secondary-heading-fc;
}
.paragraph-small {
  font-size: $pragraph-small-fs;
  color: $primary-heading-fc;
  font-weight: $regular-font-weight;
  letter-spacing: 2px;
  line-height: 1.6;
}
.heading-secondary {
  font-size: $secondary-heading-fs;
  text-align: center;
  color: $secondary-heading-fc;
  letter-spacing: 0.28rem;
}
.paragraph-medium {
  font-size: $medium-paragraph-fs;
  text-align: center;
  max-width: 50rem;
  margin: 2.5rem auto;
  line-height: 1.6;
  color: $paragraph-fc;
}
.list {
  &-heading {
    font-size: $list-heading-fs;
    color: $secondary-heading-fc;
  }
  &-description {
    font-size: $pragraph-fs;
    color: $paragraph-fc;
  }
}
.feature-paragraph {
  // font-size: $pragraph-small-fs;
  font-size: $pragraph-fs;
  color: $paragraph-fc;
  font-weight: 500;
}
.weight-6 {
  // font-weight: $semi-bold-font-weight;
  font-size: $tertiary-heading-fs;
  color: $primary-heading-fc;
  position: absolute;
  bottom: 2%;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-55%);
  // background-color: aqua;
  // text-align: center;
  // width: fit-content;
  // transform: translateY(6rem);
}
.footer {
  &__nav--heading,
  &_heading {
    font-size: $secondary-pragraph-fs;
    font-weight: $semi-bold-font-weight;
    color: $secondary-heading-fc;
    letter-spacing: 1.5px;
  }

  &-paragraph {
    font-size: $medium-paragraph-fs;
    font-weight: $regular-font-weight;
    color: $paragraph-fc;
  }
  &-ending-text {
    font-size: $secondary-pragraph-fs;
    letter-spacing: 1.3px;
    font-weight: $semi-bold-font-weight;
    margin-top: 5rem;
    color: $secondary-heading-fc;

  }
}
