// .u-padding-top-huge {
//     padding-top: 20rem;
// }
.u-margin-top {
    margin-top: 12em;
}
// .u-padding-top {
//     padding-block: 20rem;
// }
.u-margin-bottom {
    margin-bottom: 15rem;
}
// .u-padding-bottom {
//     padding-bottom: 20rem;
// }
.u-margin-bottom-small {
    margin-bottom: 3rem;
}
.u-margin-right-small {
    margin-right: .8rem;
}
.u-margin-bottom-big {
    margin-bottom: 26rem;
}
.u-margin-bottom-mini {
    margin-bottom: 1.5rem;
}
.u-text-center {
    margin: 0 auto;
    text-align: center;
}
.u-helper-grid {
    grid-column: 2;
}
.u-sec-padd-block {
    padding-block: 20rem;

    @include responsive(big-tab) {
        padding-block: 15rem;
    }
    @include responsive(phone) {
        padding-block: 9rem;
    }
    @include responsive(small-phone) {
        padding-block: 7rem;
    }
}