// It where section will be styled
.section-servieces {
  background-color: $section-bgc;
  &_grid {
    max-width: 150rem;
    min-height: fit-content;
    // background-color: aqua;
    margin-block: 26rem;
    margin-inline: auto;
    position: relative;
    gap: 10rem;

    // display: none;
    &--1col {
    }
    & img {
      border-radius: 0.5rem;
      background: rgb(0, 0, 0);
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.30015756302521013) 0%,
        rgba(0, 0, 0, 0.9472163865546218) 83%
      );
      transition: $small-transition;

      &:hover {
        transform: translateY(-2%) scale(1.01);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.808);
      }
    }
  }
  .serviece {
    &_img1 {
      width: 100%;
      // display: none;
    }
    &_img2 {
      height: 100%;
      // object-fit: cover;
      transform: translateY(-12%);

      &:hover {
        z-index: 5;
        transform: translateY(-15%) scale(1);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.808);
      }
    }

    &_img3 {
      // display: none;
      position: absolute;
      bottom: -15%;
      right: 17%;
      width: 25%;
      z-index: 1;
    }
  }

  &__list {
    list-style: none;

    &--Items {
      display: flex;
      gap: 2rem;
      max-width: 88rem;
      height: 23rem;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      padding: 6rem 4rem;
      border-top: 1px solid $secondary-heading-fc;

      &:last-child {
        border-bottom: 1px solid $secondary-heading-fc;
      }

      & p {
        // display: none;
        max-width: 40rem;
      }
    }
  }
}
.section-features {
  background-image: linear-gradient($section-bgc, $light-gray);
  min-height: 100vh;
  padding-block: 15rem;

  &_wrapper {
    max-width: 130rem;
    margin: 0 auto;
    gap: $primary-gutter;
    margin-top: 12rem;

    &--list {
      padding: 4rem;
      padding-block: 8rem;
      justify-content: flex-end;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      border-radius: 0.6rem;
      background-image: linear-gradient(
        to top left,
        #ebebeb 0%,
        rgba(255, 255, 255, 0.925) 100%
      );
      // box-shadow: 0.5rem 0.7rem 0.8rem 0rem rgba(0, 0, 0, 0.233);
      transition: $medium-transition;

      &:hover,
      &:focus {
        background-position: 42rem;
        transform: scale(1.03);
        // display: none;
      }
    }
  }
  &__svg {
    height: 8rem;
    // display: none;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

.section-location {
  background-image: $section3-gradiant;

  &__gallery {
    // display: inline-block;
    max-width: 130rem;
    min-height: 84rem;
    margin-inline: auto;
    gap: $primary-gutter;

    &--img {
      height: 100%;
      width: 100%;
      background-size: cover;
      border-radius: 0.5rem;
      background-position: bottom;
      display: flex;
      align-items: end;
      justify-content: end;
      padding: 4rem;
      flex-direction: column;
      overflow: hidden;
      transition: $medium-transition;

      &:hover {
        // scale: 1.02;
        transform: scale(1.02) translateY(-0.3rem);
      }

      & h3 {
        font-size: $list-heading-fs;
      }

      &1 {
        grid-column: 1/3;
        background-image: $gallery-img-gradiant, url(../image/gallery-img1.webp);
      }

      &2 {
        grid-column: 3/6;
        background-image: $gallery-img-gradiant, url(../image/gallery-img2.webp);
      }

      &3 {
        grid-column: -6/-3;
        background-image: $gallery-img-gradiant, url(../image/gallery-img3.webp);
      }
      &4 {
        grid-column: -3/-1;
        background-image: $gallery-img-gradiant, url(../image/gallery-img4.webp);
      }
    }
  }
}
.section-howItWorks {
  background-image: linear-gradient(#f3f3f3, #f7f7f7);
  padding-block: 20rem;

  &__icon {
    height: 7rem;
    grid-row: 1/3;
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &__grid {
    max-width: 137rem;
    margin: 0 auto;
    gap: $secondary-gutter;
  }

  &__List {
    display: flex;
    flex-direction: column;
    gap: $primary-gutter;
  }
  &__ListItems {
    align-items: center;
    justify-items: start;
    gap: 1.5rem;
    column-gap: 3rem;
    transition: 500ms;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    padding-bottom: 2.5rem;

    &::after {
      content: "";
      height: 0.1rem;
      aspect-ratio: 1;
      bottom: 0;
      width: 109%;
      background-color: $secondary-heading-fc;
      position: absolute;
      transform: translateX(-100%);
      transition: 1000ms;
    }

    &:hover::after {
      transform: translateX(0);
    }
  }

  &__grid-2col {
    padding: 4rem;
    padding-block: 0rem;
  }

  &__grid-1col {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;

    &--img {
      height: 100%;
      border-radius: 0.5rem;
      filter: brightness(0.8);
      filter: grayscale(1);
      background-image: $section3-gradiant;
      transition: $small-transition;

      &:hover {
        // display: none;
        filter: grayscale(0);
        transform: scale(1.05);
      }
    }
  }
}
.section-booking {
  padding-block: 20rem;
  background-color: hsl(0, 0%, 97%);

  &__grid {
    max-width: 140rem;
    // min-height: 65vh;
    gap: $secondary-gutter;
    margin: 1rem auto;
    margin-top: 12rem;
    // gap: 2rem;
  }
}
.section-testimonials {
  background-color: hsl(0, 0%, 97%);
  padding-block: 20rem;
}
