.testimonials {
  max-width: 150rem;
  margin: 0 auto;
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  padding: 6rem;
  gap: 3rem;
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: 0.01fr 1fr 1fr 0.01fr;
  transition: 1000ms;

  @include responsive(phone) {
    grid-template-columns: repeat(1 , 1fr);
    justify-items: center;
    margin-top: 4rem;
  }
  @include responsive(small-phone) {
    padding: 2rem;
  }

  &_swiper-icon {
    width: 20rem;
  }

  &__testimonial {
    background-color: rgb(240, 240, 240);
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: $primary-gutter;
    padding: 4rem;
    transition: 1000ms;

    height: 100%;

    &--image {
      width: 11rem;
      border-radius: 100%;
    }
    &--name {
      font-size: $tertiary-heading-fs;
      font-weight: $regular-font-weight;
    }
    &--address {
      font-size: $pragraph-fs;
      margin-block-start: -2rem;
    }
    &--text {
      font-size: $medium-paragraph-fs;
      line-height: 1.8;
    }
    &--time {
      font-size: $pragraph-fs;
    }
    &--btn {
      height: 6rem;
      aspect-ratio: 1;
      background-color: hsl(0, 0%, 84%);
      color: white;
      font-size: 3rem;
      border-radius: 100%;
      top: 0;
      box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.603);
    }
  }
}

.dots {
    display: flex;
    justify-content: center;
    gap: 1.4rem;

    &_dot {
        background-color: rgb(199, 198, 198);
        border-radius: 100%;
        height: 1.8rem;
        aspect-ratio: 1;

        &--clicked {
            background-color: #555;
        }
    }
    
}


