.hamburger {
  position: fixed;
  top: 6%;
  right: 2.6%;
  height: $hamburger_manu-height;
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: $hamburger-btn-bgc;
  overflow: hidden;
  transition: 1000ms;
  box-shadow: $primary-box-shadow;
  z-index: 999;
  perspective: 1500rem;

  @include responsive(phone) {
    height: 7rem;
    top: 2%;
  }

  &_dash {
    display: inline-block;
    width: 65%;
    height: 0.2rem;
    background-color: black;
    transition: $small-transition;

    &--1 {
      transform: translateX(0.5rem);

      &.clicked {
        transform: translateX(0rem);
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &--2 {
      opacity: 1;

      &.clicked {
        opacity: 0;
      }
    }
    &--3 {
      transform: translateX(-0.5rem);

      &.clicked {
        transform: translateX(0rem);
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }
  }

  &:hover {
    transform: skewX(-9deg) scale(1.1);
    box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.705);
  }
}

.header_navigation {
  position: fixed;
  top: 50%;
  left: 50%;
  height: fit-content;
  //   background-color: aqua;
  width: fit-content;
  z-index: 100;
  transition: 500;
  transform: translateX(-150rem);
  transition: 500ms;

  &.clicked {
    transform: translateX(0);
  }

  &-bg {
    position: fixed;
    top: 6%;
    right: 2.6%;
    height: $hamburger_manu-height;
    aspect-ratio: 1;
    background: radial-gradient(
      circle at center,
      rgb(121, 120, 120) 0%,
      #eee 80%
    );
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),
      -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99;
    border-radius: 100%;
    @include responsive(phone) {
      height: 7rem;
      top: 2%;
    }
    
    &.clicked {
      transform: scale(70);
    }
  }

  &-list {
    // display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $primary-gutter;
  }

  &-listItems a {
    display: inline-block;
    text-decoration: none;
    color: #242424;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 7% 100%);
    padding-inline: 5rem;
    padding-block: 0.5rem;
    width: -moz-fit-content;
    width: fit-content;
    background-position: -41rem;
    background-image: linear-gradient(69deg, white 91%, transparent 55%);
    background-repeat: no-repeat;
    transition: 500ms;
    white-space: nowrap;
    &:hover {
      // display: none;
      background-position: 0.01rem;
    }
  }
}
